@page
@model GridModel
@{
    ViewData["Title"] = "Runs Pool Tracker Grid";
}

<div class="text-center">
    <h2>Round @Model.Round</h2>
</div>

<div>
    <div style="margin-top: 10px;" class="container">
        <div class="row" style="margin-bottom: 3px;">
            <div class="col-sm-1">Team Name</div>
            @{
                var x = 0;
                while (x < 14)
                {
                    <div class="col-sm-1 text-center">@(@x == 13 ? "13+" : @x.ToString())</div>
                    x++;
                }
            }
            <div class="col">Runs Left</div>
        </div>
        @{
            var dateOfRunsForTeams = Model.TeamRunsCollection.ComputeDateOfRunsForTeams();

            foreach (var dateOfRunsForTeam in dateOfRunsForTeams)
            {
                <div class="row">
                    <div class="col-sm-1">
                        @dateOfRunsForTeam.TeamName
                    </div>
                    @foreach (var dateOfRun in dateOfRunsForTeam.DatesOfRuns)
                    {
                        <div class="col-sm-1">
                            @dateOfRun
                        </div>
                    }
                </div>
            }
            <div class="col">Runs Left</div>
        }
    </div>
</div>
